<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Legends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>
          <ion-item lines="full" *ngFor="let item of legends">
            <ion-label>
              <span *ngIf="item !== name">{{item}} </span>
            </ion-label>
            
            <ion-input placeholder="Text Input" color="primary" *ngIf="item === name" [(ngModel)]="nameEdited"></ion-input>
            <ion-icon name="close" *ngIf="item === name" (click)="closeSave()"></ion-icon>
            <ion-button size="small" color="primary" *ngIf="item === name" (click)="save(nameEdited, item)">Save</ion-button>
            <ion-button size="small" color="primary" [hidden]="item === name" (click)="edit(item)">Edit</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>